.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

section {
  width: 100%;
  min-height: 700px;
}

.wave {
  position: relative;
  background: linear-gradient(90deg, #70a0ef, #095ce5);
}

.wave:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  background: url('./wave.png');
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  z-index: 1;
  width: 80%;
  margin: auto;
  min-height: 70vh;
  align-items: center;
}

.introduction {
  /* background: lightblue; */
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
}

.intro-text p {
  margin-top: 5px;
  font-size: 18px;
}

.cta {
  padding: 50px 0px 0px 0px;
}

.cta-select {
  border: none;
  background: #095ce5;
  color: white;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  height: 75px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.cta-select:hover {
  border: none;
  background: white;
  color: #095ce5;
}

.hero {
  flex: 1;
}

.hero img {
  height: 60vh;
  width: 70vw;
  filter: drop-shadow(0px 5px 3px black)
}

#appForm {
  overflow-y: scroll;
  scroll-behavior: smooth;
}